<h1>Editing post</h1>

<%= form_for(@post) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br/>
    <%= f.submit %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', post_path %>
